# DataFrame

In [ ]:
Aiswarya E V________________________________________________________________________________________Date:26/10/202

In [3]:
import pandas as pd
arr=[1,2,3,4]
a=pd.Series(arr)
print(a)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
data1=pd.Series([1,2,3,4])
data2=pd.Series([2,4,5,7])
dsum=data1+data2
print("Sum:",dsum)
dsub=data1-data2
print("difference:",dsub)
dmul=data1*data2
print("product:",dmul)
dd=data1/data2
print("Division:",dd)

Sum: 0     3
1     6
2     8
3    11
dtype: int64
difference: 0   -1
1   -2
2   -2
3   -3
dtype: int64
product: 0     2
1     8
2    15
3    28
dtype: int64
Division: 0    0.500000
1    0.500000
2    0.600000
3    0.571429
dtype: float64

In [15]:
import numpy as np
import pandas as pd
exam={"name":["A","B","C"],"score":[12.5,9,np.nan],"qualify":["yes","no","yes"]}
df=pd.DataFrame(exam)
df.to_csv('exam_data.csv',index=False)
df=pd.read_csv('exam_data.csv')
print(df)

  name  score qualify
0    A   12.5     yes
1    B    9.0      no
2    C    NaN     yes

In [31]:
#Import numpy as np
exam_data  = {"name":['A','B','C','D','E','F','G','H','I','J'],"score":[12.5, 9, np.nan,2,3,4,5,6,7,11],"attempts": [1,3,2,3,1,1,2,3,1,2],'qualify': ['yes', 'no', 'yes','no','yes','yes','no','yes',"no",'yes']}
df=pd.DataFrame(exam_data)
print(df)
print(df[['name','qualify']])
print(df[df["attempts"]>2])
row=len(df.axes[0])
print(row)
w1=len(df.axes[1])
print(w1)
print(df[(df['attempts']<2)&(df["score"]>10)])
print(df[df["score"].isnull()])

  name  score  attempts qualify
0    A   12.5         1     yes
1    B    9.0         3      no
2    C    NaN         2     yes
3    D    2.0         3      no
4    E    3.0         1     yes
5    F    4.0         1     yes
6    G    5.0         2      no
7    H    6.0         3     yes
8    I    7.0         1      no
9    J   11.0         2     yes
  name qualify
0    A     yes
1    B      no
2    C     yes
3    D      no
4    E     yes
5    F     yes
6    G      no
7    H     yes
8    I      no
9    J     yes
  name  score  attempts qualify
1    B    9.0         3      no
3    D    2.0         3      no
7    H    6.0         3     yes
10
4
  name  score  attempts qualify
0    A   12.5         1     yes
  name  score  attempts qualify
2    C    NaN         2     yes

In [56]:
student={'id':[1,2,3,4,5,6],"name":['A','B','C','D','E','F'],"ages":[21,20,22,23,20,np.nan],"degree":['mca','msc','mca','msc','msc','mca'],"cgpa":[7.5,8,9,9,np.nan,8]}
df=pd.DataFrame(student)
print(df)
clas=['first','second','first','first','second','second']
df['class']=clas
print(df)
cn=len(df.axes[1])
print("no.of cloumns:",cn)
print(df.head(3))
print(df.tail(4))
df.dropna()
df=df.drop(columns=['id'])
print(df)
d=df.head(5)
d=d.tail(4)
d=d[["name","cgpa"]]
print("e")
print(d)
mean=df["ages"].mean()
df["ages"]=df['ages'].fillna(mean)
print(df)

   id name  ages degree  cgpa
0   1    A  21.0    mca   7.5
1   2    B  20.0    msc   8.0
2   3    C  22.0    mca   9.0
3   4    D  23.0    msc   9.0
4   5    E  20.0    msc   NaN
5   6    F   NaN    mca   8.0
   id name  ages degree  cgpa   class
0   1    A  21.0    mca   7.5   first
1   2    B  20.0    msc   8.0  second
2   3    C  22.0    mca   9.0   first
3   4    D  23.0    msc   9.0   first
4   5    E  20.0    msc   NaN  second
5   6    F   NaN    mca   8.0  second
no.of cloumns: 6
   id name  ages degree  cgpa   class
0   1    A  21.0    mca   7.5   first
1   2    B  20.0    msc   8.0  second
2   3    C  22.0    mca   9.0   first
   id name  ages degree  cgpa   class
2   3    C  22.0    mca   9.0   first
3   4    D  23.0    msc   9.0   first
4   5    E  20.0    msc   NaN  second
5   6    F   NaN    mca   8.0  second
  name  ages degree  cgpa   class
0    A  21.0    mca   7.5   first
1    B  20.0    msc   8.0  second
2    C  22.0    mca   9.0   first
3    D  23.0    msc   9.0   first
4    E  20.0    msc   NaN  second
5    F   NaN    mca   8.0  second
e
  name  cgpa
1    B   8.0
2    C   9.0
3    D   9.0
4    E   NaN
  name  ages degree  cgpa   class
0    A  21.0    mca   7.5   first
1    B  20.0    msc   8.0  second
2    C  22.0    mca   9.0   first
3    D  23.0    msc   9.0   first
4    E  20.0    msc   NaN  second
5    F  21.2    mca   8.0  second