# PANDAS

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

In [1]:
pip install pandas

Requirement already satisfied: pandas in /home/soumia/anaconda3/lib/python3.7/site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in /home/soumia/anaconda3/lib/python3.7/site-packages (from pandas) (1.21.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/soumia/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/soumia/anaconda3/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /home/soumia/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [42]:
import pandas as pd
arr = [1, 2,3]
a = pd.Series(arr,index=["x","y","z"])
print(a)
print(a['y'])

x    1
y    2
z    3
dtype: int64
2

In [ ]:
import pandas as pd
arr = [1, 2,3]
a = pd.Series(arr)
print(a)
print(a[0])

In [45]:
import numpy as np
import pandas as pd
a=np.array([1,2,3,4])
print(a)
arr=pd.Series(a)
print(arr)

[1 2 3 4]
0    1
1    2
2    3
3    4
dtype: int64

In [46]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2","day3"])

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [7]:
import pandas as pd
data = { "calories": [420, 380, 390],  "duration": [50, 40, 45]}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [19]:
import numpy as np
exam_data  = {'name': ['A','B','C'],
        'score': [12.5, 9, np.nan],
        'attempts': [1, 3, 2],
        'qualify': ['yes', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print(df)
print(df.info())
print(df[['name', 'score']])
print(df[df['attempts'] > 2])
tot_rows=len(df.axes[0])
tot_cols=len(df.axes[1])
print(tot_rows,tot_cols)

  name  score  attempts qualify
0    A   12.5         1     yes
1    B    9.0         3      no
2    C    NaN         2     yes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      3 non-null      object
 1   score     2 non-null      float64
 2   attempts  3 non-null      int64
 3   qualify   3 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 224.0+ bytes
None
  name  score
0    A   12.5
1    B    9.0
2    C    NaN
  name  score  attempts qualify
1    B    9.0         3      no
3 4

In [ ]:
import pandas as pd

df = pd.read_csv('iris.csv')

print(df.to_string())

In [6]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print(ds)

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [ ]:
import pandas as pd

df = pd.read_csv('iris.csv')

print(df)

max_rows
The number of rows returned is defined in Pandas option settings.

In [ ]:
import pandas as pd

print(pd.options.display.max_rows)

In my system the number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.

In [ ]:
import pandas as pd

pd.options.display.max_rows = 500

df = pd.read_csv('iris.csv')

print(df)

Pandas - Analyzing DataFrames
The head() method returns the headers and a specified number of rows, starting from the top.
If the number of rows is not specified, the head() method will return the top 5 rows.

In [ ]:
import pandas as pd

df = pd.read_csv('iris.csv')


print(df.head(10))

The tail() method returns the headers and a specified number of rows, starting from the bottom.

In [ ]:
print(df.tail())

In [ ]:
# Print information about the data:

print(df.info())

Cleaning Data

In [ ]:
# Return a new Data Frame with no empty cells:
# By default, the dropna() method returns a new DataFrame, and will not change the original.

import pandas as pd

df = pd.read_csv('iris.csv')

new_df = df.dropna()
https://github.com/Aiswarya-Ev/ML-Lab/branches
print(new_df.to_string())



Sample DataFrame:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
https://github.com/Aiswarya-Ev/ML-Lab/branchesimport pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

In [1]:
import pandas as pd
import numpy as np

name = ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin','Jonas']
score = [12.5, 9, 16.5, np.nan , 9, 20, 14.5, np.nan, 8, 19]
attempts = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
qualify = ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


exam_data  = {'name': name,'score':score, 'attempts':attempts,'qualify': qualify}


df = pd.DataFrame(exam_data, index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [2]:
# Create a CSV File

# set index=False, otherwise index value be inserted into the CSV File.

df.to_csv('exam_data.csv',index=False)

In [29]:
# Read from a CSV File

df = pd.read_csv('exam_data.csv')
print(df)

        name  score  attempts  qualify
0  Anastasia   12.5         1     True
1       Dima    9.0         3    False
2  Katherine   16.5         2     True
3      James   11.5         3    False
4      Emily    9.0         2    False
5    Michael   20.0         3     True
6    Matthew   14.5         1     True
7      Laura    NaN         1    False
8      Kevin    8.0         2    False
9      Jonas   19.0         1     True

In [49]:
import pandas as pd
import numpy as np
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print(df.loc[[0,1],['col1']])
print(df.iloc[[2]])
print("Index-2: Details")
##print(result)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
   col1
0     1
1     4
   col1  col2  col3
2     3     6     9
Index-2: Details

In [4]:
# Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.

print("Select specific columns and rows:")
print(df.iloc[[1, 3, 5, 6], [1, 3]])

Select specific columns and rows:
   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

In [14]:
# Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.
print("Select specific columns:")

print(df[['name', 'score']])

Select specific columns:
        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
3      James    NaN
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
7      Laura    NaN
8      Kevin    8.0
9      Jonas   19.0

In [13]:
print("Number of attempts in the examination is greater than 2:")
print(df[df['attempts'] > 2])

Number of attempts in the examination is greater than 2:
      name  score  attempts qualify
1     Dima    9.0         3      no
3    James    NaN         3      no
5  Michael   20.0         3     yes

In [5]:
print("Rows where score is missing:")
print(df[df['score'].isnull()])

Rows where score is missing:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [ ]:
print(":")
print(df[(df['attempts'] < 2) & (df['score'] > 15)])

In [ ]:
print("\nSum of the examination attempts by the students:")
print(df['attempts'].sum())

In [ ]:
print("\nMean score for each different student in data frame:")
print(df['score'].mean())

In [ ]:
# Write a Pandas program to append a new row 'k' to DataFrame with given values for each column. 
# print("Original rows:")
print(df)
print("\nAppend a new row:")
df.loc['k'] = ['Suresh', 15.5, 1, 'yes']
print("Print all records after insert a new record:")
print(df)

In [ ]:
# Now delete the new row and return the original data frame.
# print("Original rows:")
print("\nDelete the new row and display the original  rows:")
df = df.drop('k')
print(df)

In [25]:
print("Orginal rows:")
print(df)
df.sort_values(by=['name', 'score'], ascending=[False, True])
print("Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:")
print(df)

Orginal rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [26]:
# Write a Pandas program to change the score in row 'd' to 11.5.

print("\nChange the score in row 'd' to 11.5:")
df.loc['d', 'score'] = 11.5
print(df)

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [27]:
# Write a Pandas program to replace the ‘qualify' column contains the values 'yes' and 'no' with True and False.

print("\nReplace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:")
df['qualify'] = df['qualify'].map({'yes': True, 'no': False})
print(df)

Replace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James   11.5         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

In [30]:
 # Insert a new column in existing DataFrame.

color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
df['color'] = color
print("\nNew DataFrame after inserting the 'color' column")
print(df)

New DataFrame after inserting the 'color' column
        name  score  attempts  qualify   color
0  Anastasia   12.5         1     True     Red
1       Dima    9.0         3    False    Blue
2  Katherine   16.5         2     True  Orange
3      James   11.5         3    False     Red
4      Emily    9.0         2    False   White
5    Michael   20.0         3     True   White
6    Matthew   14.5         1     True    Blue
7      Laura    NaN         1    False   Green
8      Kevin    8.0         2    False   Green
9      Jonas   19.0         1     True     Red